header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: black;
}
header div{
    margin-left: 3.37rem;
    color: white;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}
