header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: black;
    width: 100%
}
header div{
    margin-left: 3.37rem;
    color: white;
    font-weight: 700;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    header{
    height: 30px;
    position: fixed;
    }
    header div{
        font-size: 0.62rem;
        margin-left: 0.5rem;
    }
}