main{
    width: 90%;
    padding-top: 7.12rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    align-self: center;
}
.infos{
    display: flex;
    flex-direction: column;
    padding: 6.25rem;
}
main h1{
    font-size: 4rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 0.125rem;
    margin-bottom: 0.25rem;
}
main h2{
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: 0.8rem;
}
main button{
    height: 3.87rem;
    width: 13rem;
    border-radius: 62rem;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    background: white;
    border: none;
    color: #210535;
    display: flex;
    align-items: center;
   justify-content: center;
   cursor: pointer;

}
main img{
    position:static;
    padding-right: 6.25rem;

}
@media screen and (max-width: 600px) {
    main button{
        height: fit-content;
        font-size: 0.62rem;
        width: fit-content;
        padding: 0.1rem;
        margin-bottom: 1.5rem;
    }
    main{
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        position: static;
    }
    main h1{
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
    main h2{
        font-size: 0.9rem
    }
    main img{
        align-self: center;
        height: 300px;
        width: 370px;
        padding-left: 30%;
       
        
    }
    .infos{
        padding: 0;
        justify-content: center;
        align-self: center;
    }
}